.subTotals {
  display: flex;
  justify-content: space-between;
}

.subTotals > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-right: 8px;
  padding: 4px;
}

.subTotals h3 {
  margin: 0;
  padding: 6px;
  border-radius: 5px;
}

.subTotals p {
  margin: 0;
}

.subTotals div {
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
}

.alimentation {
  border-color: tomato;
}

.logement {
  border-color: #429441;
}

.transport {
  border-color: #8f4517;
}

.divertissement {
  border-color: #fcb749;
}

.santé {
  border-color: #5a7bb8;
}

.éducation {
  border-color: #d9893f;
}

.autres {
  border-color: #b980ff;
}

.alimentation h3 {
  background-color: tomato;
}

.logement h3 {
  background-color: #429441;
}

.transport h3 {
  background-color: #8f4517;
}

.divertissement h3 {
  background-color: #fcb749;
}

.santé h3 {
  background-color: #5a7bb8;
}

.éducation h3 {
  background-color: #d9893f;
}

.autres h3 {
  background-color: #b980ff;
}
